<% provide(:title, 'Blood requirements and Donors info') %>
<div class="container">
  <%= link_to 'New Post', new_blog_post_path, class: 'btn btn-success' %>
  <div class="post-content">
    <% @posts.each do |post|%>
      <div class="post-title">
        <h1>
          <%= link_to post.title, blog_post_path(post) %>
          <small>
            <%= post.created_at.strftime('%F') %>
          </small>
        </h1>
      </div>
      <div class="post-body">
        <%= post.text.html_safe %>
        <div class="fb-share-button" data-href="http://helpalife.in/" data-layout="box_count">
      </div>
    <% end %>
  </div>
</div>
