[project]
	description = Voluntary Blood Donors online Community.Post requirements or get donors info. Notify donors via instant SMS and EMAIL for your blood requirement.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/samuel santhosh (samuels410)
[access "refs/for/refs/*"]
	read = group user/samuel santhosh (samuels410)
	push = group user/samuel santhosh (samuels410)
	label-Code-Review = -2..+2 group user/samuel santhosh (samuels410)
	label-Verified = -1..+1 group user/samuel santhosh (samuels410)
	rebase = group user/samuel santhosh (samuels410)
	removeReviewer = group user/samuel santhosh (samuels410)
	submit = group user/samuel santhosh (samuels410)
[access "refs/heads/*"]
	read = group user/samuel santhosh (samuels410)
	create = group user/samuel santhosh (samuels410)
	push = +force group user/samuel santhosh (samuels410)
	pushMerge = group user/samuel santhosh (samuels410)
[access "refs/tags/*"]
	push = +force group user/samuel santhosh (samuels410)
	pushTag = group user/samuel santhosh (samuels410)
	pushSignedTag = group user/samuel santhosh (samuels410)
