<% provide(:title, "DEFINE YOUNG INDIA. INSPIRE THE NATION." ) %>

<div id="tzwrapper">

  <!-- Header start -->
  <header class="tz-headerHome tz-homeType1 tz-homeTypeFixed vc_row" data-option="1">
    <div class="container">
      <div class="tzHeaderContainer">
        <h3 class="pull-left tz_logo">
          <a title="Home" href="/">
            <img src="/assets/logo.png" alt="helpalife">
          </a>
        </h3>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tz-navbar-collapse">
          <i class="fa fa-bars"></i>
        </button>

        <!-- Menu start -->
        <nav class="nav-collapse pull-right tz-menu">
          <ul id="tz-navbar-collapse" class="nav navbar-nav collapse navbar-collapse tz-nav">
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#slider_meetup">Helpalife.in</a></li>
            <li><a href="#agenda">Timeline</a></li>
            <!--<li><a href="#gallery">Gallery</a></li>-->
            <li><a href="#speaker_client">Sponsors</a></li>
            <li><a href="#faq">FAQ</a></li>
            <li><a href="#register">Register</a></li>
            <!--<li><a href="#recent_post">Blog</a></li>-->
            <li><a href="#contact">Contact</a></li>
          </ul>
        </nav>
        <!-- Menu end -->

      </div>
    </div>
  </header>
  <!-- Header end -->

  <!-- Slider start -->
  <div id="home" class="tz_home_slider_meetup vc_row">
    <div class="tz_home_slider_meetup_setting">
      <ul class="bxslider">
        <li>
          <div class="meetup_bl_slider_home"></div>
          <img src="/events/images/slider-1.jpg" alt="slider-home" />
        </li>
        <li>
          <div class="meetup_bl_slider_home"></div>
          <img src="/events/images/slider-2.jpg" alt="slider-home" />
        </li>
        <li>
          <div class="meetup_bl_slider_home"></div>
          <img src="/events/images/slider-3.jpg" alt="slider-home" />
        </li>
      </ul>
    </div>
    <div class="tz_content_slider_meetup">
      <div class="ds-table">
        <div class="ds-table-cell">
          <div class="tz_meetup_social">
            <span class="meetup_line_left"></span>
            <a href="https://www.facebook.com/templaza" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/templazavn" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fa fa-camera-retro"></i></a>
            <a href="https://plus.google.com/+Templaza/" target="_blank"><i class="fa fa-google-plus"></i></a>
            <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
            <span class="meetup_line_right"></span>
          </div>
          <div class="tz_meetup_slider_home_text">
            <h4>
              <strong>DEFINE YOUNG INDIA. INSPIRE THE NATION.</strong>
            </h4>
            <p>A NATIONWIDE CREATIVE CONTEST TO INSPIRE, CONTRIBUTE AND BUILD A HEALTHY NATION</p>
            <p><strong>A HELPALIFE.IN INITIATIVE<strong></p>

          </div>
          <div class="tz_meetup_countdown">
            <div id="clock"></div>
          </div>
          <div class="tz_slider_meetup_btn">
            <ul class="tz_slider_home_btn_click">
              <li>
                <a class="tz_slider_meetup_btn_1" href="#">
                  LEARN MORE
                </a>
              </li>
              <li>
                <a class="tz_slider_meetup_btn_1 tz_slider_meetup_btn_2" href="#register">
                  REGISTER ME
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Slider end -->

  <!-- About start -->
  <section id="about" class="vc_row">
    <div class="container">
      <div class="row">
        <div class="tz_maniva_meetup_title text-center">
          <h3 class="tz_meetup_title_raleway tz_title_meetup_normal"> ABOUT THE CONTEST </h3>
          <div class="tz_meetup_title_content">
            <p><strong>Helpalife.in<strong>, a Voluntary Blood Donors Online Community and non-profit organization, brings in a unique oportunity</p>
            <p>to unleash your creativity and define the responsible youth of tomorrow in creating health awareness and building a healthy nation.</p>
            <p>The contest includes Article Writing, Poster Design, Photography & Short Film and is open to all the students of schools and colleges in India.</p>
            <p>One winner from each category will be awarded cash prize and goodies sponsored by Helpalife.in and co-sponsors.</p>
            <p>All inspiring entries will be recognized and published on social media platforms</p>
            <p>and made available to the general public across the globe.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- About end -->

  <!-- About meetup start -->
  <section id="about_meetup" class="vc_row">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 custom_col_pading">
          <div class="tz_maniva_about_meetup">
            <div class="tz_meetup_thumbnail">
              <a href="index.html">
                <img src="/events/images/about-1.jpg" alt="about" />
              </a>
            </div>
            <h4>
              <a href="http://www.templaza.com/" target=" _blank">WHO WE ARE?</a>
            </h4>
            <div class="tz_meetup_about_content">
              <p>We are a non-profitable organisation working for a social cause.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 custom_col_pading">
          <div class="tz_maniva_about_meetup">
            <div class="tz_meetup_thumbnail">
              <a href="index.html">
                <img src="/events/images/about-2.jpg" alt="about" />
              </a>
            </div>
            <h4>
              <a href="http://www.templaza.com/" target=" _blank">WHAT WE DO?</a>
            </h4>
            <div class="tz_meetup_about_content">
              <p>We create awareness amoung people about the importance of blood donation.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- About meetup end -->

  <!-- Video meetup start -->
  <!--<section id="video_meetup" class="vc_row">
    <div class="row vc_row-flex">
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 custom_col_pading_right tz_height_text_video vc_column_container">
        <div class="tz_width_column tz_bk_video_meetup vc_column-inner">
          <div class="tz_check_width_left_position tz_custom_width tz_custom_width_box_2">
            <div class="tz_maniva_meetup_title tz_meetup_video_text text-right">
              <h3 class="tz_meetup_general_title">
                Content Marketing Institute:
                <em>Executive Forum</em>
              </h3>
              <div class="tz_image_title_meetup">
                <img alt="line" src="/events/images/line-text1.jpg" />
              </div>
                            <span class="tz_meetup_video_sub_title">
                                March 10-11, 2016 – Las Vegas, NV
                                <i class="fa fa-clock-o"></i>
                                <span class="tz_meetup_video_sub_title_line"></span>
                            </span>
              <div class="tz_meetup_content">
                <p>Content Marketing Institute: Executive Forum is an exclusive meeting of 50 global senior-level marketers in the discipline of content marketing. The event includes presentations from top marketing practitioners and thought leaders about what senior-level marketers need to know. At the two-day Executive Forum, CMI leaders and senior marketing executives from enterprise brands will come together to collaborate and to discuss and report on their own organizations’ efforts in integrating content marketing as a strategic approach.</p>
                <p>The Executive Forum is limited to senior-level marketers with a responsibility over some aspect of content marketing in their organizations. Company size limited to a minimum $100 million USD per year</p>
              </div>
              <a class="tz_btn_video_meetup tz_meetup_default" target="_blank" href="index.html">DOWNLOAD BROCHURE</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 custom_col_pading_left vc_column_container">
        <div class="tz_video_meetup tz_video_equal_height_meetup vc_column-inner">
          <img src="/events/images/bk-video-2.jpg" alt="video">
          <div class="tz_bk_video"></div>
          <div class="tz_btn_play_video">
            <div class="ds-table">
              <div class="ds-table-cell">
                <a class="easy-opener tz_btn_easy" data-type="video" data-width="500" data-height="281" href="http://player.vimeo.com/video/20150871">
                  <i class="fa fa-play"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>-->
  <!-- Video meetup end -->

  <!-- Counter start -->
  <section id="counter" class="vc_row">
    <div class="tz-counter tzCounter_type">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tz-counter-font">
              <i class="fa fa-users"></i>
            </div>
                    <span class="tz-counter-number">
                        <em class="stat-count">1200</em>
                    </span>
            <p class="tz-counter-title">PARTICIPANTS</p>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tz-counter-font">
              <i class="fa fa-dropbox"></i>
            </div>
                    <span class="tz-counter-number">
                        <em class="stat-count">1500</em>
                    </span>
            <p class="tz-counter-title">TOPICS</p>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tz-counter-font">
              <i class="fa fa-power-off"></i>
            </div>
                    <span class="tz-counter-number">
                        <em class="stat-count">1700</em>
                    </span>
            <p class="tz-counter-title">SESSIONS</p>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tz-counter-font">
              <i class="fa fa-microphone"></i>
            </div>
                    <span class="tz-counter-number">
                        <em class="stat-count">1800</em>
                    </span>
            <p class="tz-counter-title">SPEAKERS</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- counter end -->

  <!-- Text box button start -->
  <section id="tz_text_box_button" class="vc_row">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
          <h3>
            <span>HURRY UP!</span>
            ONLY
            <span>142</span>
            SEATS REMAINING CURRENTLY…
          </h3>
          <p>Ut mauris nisi, condimentum vitae odio at, tempus commodo neque. Duis facilisis orci non..</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <div class="tz_meetup_btn tz_meetup_btn_custom text-center">
            <a class="tz_meetup_default" href="#register"> REGISTER ME </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Text button end -->

  <!-- Slider Meetup start -->
  <section id="slider_meetup" class="vc_row">
    <div class="tz-full-slider-meetup">
      <div class="tz_slider_meetup">
        <div class="tz_meetup_slider owl-carousel owl-theme">
          <div class="tz_custom_images_slider">
            <img src="/events/images/slider-client-1.jpg" alt="slider-client">
            <div class="tz-bk-slider-meetup"></div>
          </div>
          <div class="tz_custom_images_slider">
            <img src="/events/images/slider-client-2.jpg" alt="slider-client">
            <div class="tz-bk-slider-meetup"></div>
          </div>
          <div class="tz_custom_images_slider">
            <img src="/events/images/slider-client-3.jpg" alt="slider-client">
            <div class="tz-bk-slider-meetup"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="tz_text_box_slider">
      <div class="tz_width_column tz_text_box_slider_padding">
        <div class="tz_check_width_right_position tz_custom_width tz_width_box">
          <div class="tz_maniva_meetup_title tz_box_text_bk text-left">
            <h3 class="tz_meetup_general_title tz_meetup_general_title_2">About Helpalife.in</h3>
            <div class="tz_image_title_meetup">
              <img src="/events/images/line-2.png" alt="line">
            </div>
                    <span class="tz_meetup_video_sub_title">
                        <i class="fa fa-clock-o tz_icon_position_left"></i>
                        February 24, 2016 – Free Virtual Event
                        <span class="tz_meetup_video_sub_title_line"></span>
                    </span>
            <div class="tz_meetup_content">
              <p>
                            <span>
                                Join us on February 24, 2016 for our FREE one-day virtual event dedicated to content marketing technology. ContentTECH 2016 will feature 6 technology-focused webinars:
                            </span>
              </p>
              <ul class="tz-plazart-list">
                <li>
                            <span class="tz_icon_maniva_list tz_icon_maniva_list_style_1">
                                <i class="fa fa-check-square-o"></i>
                            </span>
                  <p class="tz_list_item_content"> Building a Demand Generation Program that Works with Marketing Automation </p>
                </li>
                <li>
                                <span class="tz_icon_maniva_list tz_icon_maniva_list_style_1">
                                    <i class="fa fa-check-square-o"></i>
                                </span>
                  <p class="tz_list_item_content"> Creating a Process for Visual Storytelling. </p>
                </li>
                <li>
                                <span class="tz_icon_maniva_list tz_icon_maniva_list_style_1">
                                    <i class="fa fa-check-square-o"></i>
                                </span>
                  <p class="tz_list_item_content"> Leveraging the Best Workflow Technology to Enhance Your Content Marketing </p>
                </li>
                <li>
                                <span class="tz_icon_maniva_list tz_icon_maniva_list_style_1">
                                    <i class="fa fa-check-square-o"></i>
                                </span>
                  <p class="tz_list_item_content"> Email Marketing: 10 Things You Are Not Doing (and it’s killing you!) </p>
                </li>
                <li>
                                <span class="tz_icon_maniva_list">
                                    <i class="fa fa-times"></i>
                                </span>
                  <p class="tz_list_item_content"> The Ultimate Guide to Social Media Tools and Technology </p>
                </li>
                <li>
                                <span class="tz_icon_maniva_list">
                                    <i class="fa fa-times"></i>
                                </span>
                  <p class="tz_list_item_content"> Creating a Content Marketing Strategy that Works with Technology </p>
                </li>
              </ul>
            </div>
            <a class="tz_btn_video_meetup tz_meetup_btn_dark" target="_blank" href="index.html">LEARN MORE</a>
            <a class="tz_btn_video_meetup tz_btn_shop_meetup tz_meetup_btn_dark" target="_blank" href="index.html">VIEW OUR SHOP</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Slider Meetup end -->

  <!-- Box text title line -->
  <!--<section id="box_text_title_line" class="vc_row">
    <div class="tz_maniva_meetup_title tz_maniva_meetup_title_type3">
      <h3>
        <span class="tz_title_line_left"></span>
        DON’T MISS THIS
        <em>AMAZING CONFERENCE</em>
        AND
        <em>OPPORTUNITIESSS!</em>
        <span class="tz_title_line_right"></span>
      </h3>
    </div>
  </section>-->
  <!-- Box text title line end -->

  <!-- Our Team meetup start -->
  <!--<section id="speaker" class="tzSpace_default vc_row">
    <div class="row vc_row-flex">
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 custom_col_pading_right tz_height_text_video vc_column_container wpb_column">
        <div class="tz_width_column tz_bk_box_text_meetup vc_column-inner">
          <div class="tz_check_width_left_position tz_custom_width">
            <div class="tz_maniva_meetup_title tz_meetup_video_text text-right">
              <h3 class="tz_meetup_general_title">
                Intelligent Content Conference
              </h3>
              <div class="tz_image_title_meetup">
                <img alt="line" src="/events/images/under-line-white.png" />
              </div>
              <div class="tz_meetup_content">
                <p>The Intelligent Content Conference (ICC) is the 8th annual gathering of the best and brightest content professionals on the planet. Content marketers are still hand-crafting content for each individual channel, device and audience segment. With the volume of content being produced today, we’re doing it wrong, locking content up in silos, hiding it from those who need it most.</p>
                <p>We need to institute intelligent content production methods that are optimized to be hyper-efficient and extremely fluid. Join us spring 2016 to connect with a diverse mix of peers and learn from a variety of experts.</p>
              </div>
              <a class="tz_btn_video_meetup tz_meetup_custom" target="_blank" href="index.html">VIEW ALL SPEAKERS</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-xs-12 col-sm-6 custom_col_pading_left custom_col_pading_right vc_column_container wpb_column">
        <div class="tz_column_inner_meetup vc_column-inner">
          <div class="speaker_box">
            <div class="tz_meetup_our_team_thumbnail md-trigger tz_md_effect_16" data-modal="modal-16">
              <img src="/events/images/our_team.jpg" alt="our_team">
              <div class="tz_member_meetup">
                <div class="ds-table">
                  <div class="ds-table-cell">
                    <h4 class="tz_meetup_employment">graphic educator</h4>
                    <h3 class="tz_meetup_name">Christina Camille</h3>
                    <span class="tz_text_hover_speaker" data-modal="modal-16">view profile</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="tz-md-modal-speakers md-modal md-effect-16 modal-16">
              <div class="md-content container">
                                <span class="md-close">
                                    <i class="fa fa-close"></i>
                                </span>
                <div class="tz_modal_title">
                  <div class="tz_modal_image">
                                        <span class="tz_modal_image_content">
                                            <img src="/events/images/our_team_squar.jpg" alt="our_team">
                                        </span>
                  </div>
                  <h4 class="tz_modal_name">graphic educator</h4>
                  <span class="tz_modal_employment">Christina Camille</span>
                  <div class="tz_modal_speakers_social">
                    <div class="tz_modal_social_speakers">
                      <a href="https://www.facebook.com/templaza" target="_blank">
                        <i class="fa fa-facebook"></i>
                      </a>
                      <a href="https://twitter.com/templazavn" target="_blank">
                        <i class="fa fa-twitter"></i>
                      </a>
                      <a href="#" target="_blank">
                        <i class="fa fa-camera-retro"></i>
                      </a>
                      <a href="https://plus.google.com/+Templaza/" target="_blank">
                        <i class="fa fa-google-plus"></i>
                      </a>
                      <a href="#" target="_blank">
                        <i class="fa fa-linkedin"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="tz_modal_speakers_content">
                  <p>You enjoy the bustle of the city. You feel this is the place you have the possibility to live. You love to socialize, to go out and attend entertainments and programs. You enjoy good food with friends. Your home is the place, where creativity is combined with metal, wood and glass. It is the place of trendy living in a contrasty surrounding.</p>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <strong>
                        <span class="tz_modal_speakers_content_title">TOPICS</span>
                      </strong>
                      <ul class="tz-plazart-list">
                        <li>
                                                    <span class="tz_icon_maniva_list tz_icon_maniva_list_custom">
                                                        <i class="fa fa-check-square-o"></i>
                                                    </span>
                          <p class="tz_list_item_content"> Building a Demand Generation Program that Works with Marketing Automation </p>
                        </li>
                        <li>
                                                    <span class="tz_icon_maniva_list tz_icon_maniva_list_custom">
                                                        <i class="fa fa-check-square-o"></i>
                                                    </span>
                          <p class="tz_list_item_content"> Creating a Process for Visual Storytelling. </p>
                        </li>
                        <li>
                                                    <span class="tz_icon_maniva_list tz_icon_maniva_list_custom">
                                                        <i class="fa fa-check-square-o"></i>
                                                    </span>
                          <p class="tz_list_item_content"> Leveraging the Best Workflow Technology to Enhance Your Content Marketing </p>
                        </li>
                        <li>
                                                    <span class="tz_icon_maniva_list tz_icon_maniva_list_custom">
                                                        <i class="fa fa-check-square-o"></i>
                                                    </span>
                          <p class="tz_list_item_content"> Email Marketing: 10 Things You Are Not Doing (and it’s killing you!) </p>
                        </li>
                      </ul>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <strong>
                        <span class="tz_modal_speakers_content_title">HISTORY</span>
                      </strong>
                      <ul class="tz-plazart-list">
                        <li>
                                                    <span class="tz_icon_maniva_list tz_icon_maniva_list_custom">
                                                        <i class="fa fa-clock-o"></i>
                                                    </span>
                          <p class="tz_list_item_content"> Dec 2013 - Present: CEO at TemPlaza </p>
                        </li>
                        <li>
                                                    <span class="tz_icon_maniva_list tz_icon_maniva_list_custom">
                                                        <i class="fa fa-clock-o"></i>
                                                    </span>
                          <p class="tz_list_item_content"> Dec 2012 - Dec 2013: CEO at Sunland ,. JSC </p>
                        </li>
                        <li>
                                                    <span class="tz_icon_maniva_list tz_icon_maniva_list_custom">
                                                        <i class="fa fa-clock-o"></i>
                                                    </span>
                          <p class="tz_list_item_content"> Dec 2011 - Dec 2012: CTO at Elite JSC </p>
                        </li>
                        <li>
                                                    <span class="tz_icon_maniva_list tz_icon_maniva_list_custom">
                                                        <i class="fa fa-clock-o"></i>
                                                    </span>
                          <p class="tz_list_item_content"> Sep 2008 - Dec 2011: CIO at YOS ,. JSC </p>
                        </li>
                        <li>
                                                    <span class="tz_icon_maniva_list tz_icon_maniva_list_custom">
                                                        <i class="fa fa-clock-o"></i>
                                                    </span>
                          <p class="tz_list_item_content"> Sep 2006 - Sep 2008: Web Developer at Joomlord </p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                                <span class="md-close tz-md-close">
                                    <i class="fa fa-close"></i>
                                    <em> Thanks for watching! </em>
                                </span>
              </div>
            </div>
            <div class="md-overlay"></div>&lt;!&ndash; the overlay element &ndash;&gt;
          </div>
          <div class="speaker_box">
            <div class="tz_meetup_our_team_thumbnail md-trigger tz_md_effect_16" data-modal="modal-16">
              <img src="/events/images/our_team3.jpg" alt="our_team">
              <div class="tz_member_meetup">
                <div class="ds-table">
                  <div class="ds-table-cell">
                    <h4 class="tz_meetup_employment">Web Development</h4>
                    <h3 class="tz_meetup_name">Jaffrey Haye</h3>
                    <span class="tz_text_hover_speaker" data-modal="modal-16">view profile</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="tz-md-modal-speakers md-modal md-effect-16 modal-16">
              <div class="md-content container">
                                <span class="md-close">
                                    <i class="fa fa-close"></i>
                                </span>
                <div class="tz_modal_title">
                  <div class="tz_modal_image">
                                        <span class="tz_modal_image_content">
                                            <img src="/events/images/our_team_squar_3.jpg" alt="our_team">
                                        </span>
                  </div>
                  <h4 class="tz_modal_name">Jaffrey Haye</h4>
                  <span class="tz_modal_employment">Web Development</span>
                  <div class="tz_modal_speakers_social">
                    <div class="tz_modal_social_speakers">
                      <a href="https://www.facebook.com/templaza" target="_blank">
                        <i class="fa fa-facebook"></i>
                      </a>
                      <a href="https://twitter.com/templazavn" target="_blank">
                        <i class="fa fa-twitter"></i>
                      </a>
                      <a href="#" target="_blank">
                        <i class="fa fa-camera-retro"></i>
                      </a>
                      <a href="https://plus.google.com/+Templaza/" target="_blank">
                        <i class="fa fa-google-plus"></i>
                      </a>
                      <a href="#" target="_blank">
                        <i class="fa fa-linkedin"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="tz_modal_speakers_content">
                  <p>You enjoy the bustle of the city. You feel this is the place you have the possibility to live. You love to socialize, to go out and attend entertainments and programs. You enjoy good food with friends. Your home is the place, where creativity is combined with metal, wood and glass. It is the place of trendy living in a contrasty surrounding.</p>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <strong>
                        <span class="tz_modal_speakers_content_title">TOPICS</span>
                      </strong>
                      <ul class="tz-plazart-list">
                        <li>
                                                    <span class="tz_icon_maniva_list tz_icon_maniva_list_custom">
                                                        <i class="fa fa-check-square-o"></i>
                                                    </span>
                          <p class="tz_list_item_content"> Building a Demand Generation Program that Works with Marketing Automation </p>
                        </li>
                        <li>
                                                    <span class="tz_icon_maniva_list tz_icon_maniva_list_custom">
                                                        <i class="fa fa-check-square-o"></i>
                                                    </span>
                          <p class="tz_list_item_content"> Creating a Process for Visual Storytelling. </p>
                        </li>
                        <li>
                                                    <span class="tz_icon_maniva_list tz_icon_maniva_list_custom">
                                                        <i class="fa fa-check-square-o"></i>
                                                    </span>
                          <p class="tz_list_item_content"> Leveraging the Best Workflow Technology to Enhance Your Content Marketing </p>
                        </li>
                        <li>
                                                    <span class="tz_icon_maniva_list tz_icon_maniva_list_custom">
                                                        <i class="fa fa-check-square-o"></i>
                                                    </span>
                          <p class="tz_list_item_content"> Email Marketing: 10 Things You Are Not Doing (and it’s killing you!) </p>
                        </li>
                      </ul>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <strong>
                        <span class="tz_modal_speakers_content_title">HISTORY</span>
                      </strong>
                      <ul class="tz-plazart-list">
                        <li>
                                                    <span class="tz_icon_maniva_list tz_icon_maniva_list_custom">
                                                        <i class="fa fa-clock-o"></i>
                                                    </span>
                          <p class="tz_list_item_content"> Dec 2013 - Present: CEO at TemPlaza </p>
                        </li>
                        <li>
                                                    <span class="tz_icon_maniva_list tz_icon_maniva_list_custom">
                                                        <i class="fa fa-clock-o"></i>
                                                    </span>
                          <p class="tz_list_item_content"> Dec 2012 - Dec 2013: CEO at Sunland ,. JSC </p>
                        </li>
                        <li>
                                                    <span class="tz_icon_maniva_list tz_icon_maniva_list_custom">
                                                        <i class="fa fa-clock-o"></i>
                                                    </span>
                          <p class="tz_list_item_content"> Dec 2011 - Dec 2012: CTO at Elite JSC </p>
                        </li>
                        <li>
                                                    <span class="tz_icon_maniva_list tz_icon_maniva_list_custom">
                                                        <i class="fa fa-clock-o"></i>
                                                    </span>
                          <p class="tz_list_item_content"> Sep 2008 - Dec 2011: CIO at YOS ,. JSC </p>
                        </li>
                        <li>
                                                    <span class="tz_icon_maniva_list tz_icon_maniva_list_custom">
                                                        <i class="fa fa-clock-o"></i>
                                                    </span>
                          <p class="tz_list_item_content"> Sep 2006 - Sep 2008: Web Developer at Joomlord </p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                                <span class="md-close tz-md-close">
                                    <i class="fa fa-close"></i>
                                    <em> Thanks for watching! </em>
                                </span>
              </div>
            </div>
            <div class="md-overlay"></div>&lt;!&ndash; the overlay element &ndash;&gt;
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-xs-12 col-sm-6 custom_col_pading_left custom_col_pading_right vc_column_container wpb_column">
        <div class="tz_column_inner_meetup vc_column-inner">
          <div class="speaker_box">
            <div class="tz_meetup_our_team_thumbnail md-trigger tz_md_effect_16" data-modal="modal-16">
              <img src="/events/images/our_team4.jpg" alt="our_team">
              <div class="tz_member_meetup">
                <div class="ds-table">
                  <div class="ds-table-cell">
                    <h4 class="tz_meetup_employment">CEO TemPlaza</h4>
                    <h3 class="tz_meetup_name">Robert Van Doe</h3>
                    <span class="tz_text_hover_speaker" data-modal="modal-16">view profile</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="tz-md-modal-speakers md-modal md-effect-16 modal-16">
              <div class="md-content container">
                                <span class="md-close">
                                    <i class="fa fa-close"></i>
                                </span>
                <div class="tz_modal_title">
                  <div class="tz_modal_image">
                                        <span class="tz_modal_image_content">
                                            <img src="/events/images/our_team_squar_2.jpg" alt="our_team">
                                        </span>
                  </div>
                  <h4 class="tz_modal_name">Robert Van Doe</h4>
                  <span class="tz_modal_employment">CEO TemPlaza</span>
                  <div class="tz_modal_speakers_social">
                    <div class="tz_modal_social_speakers">
                      <a href="https://www.facebook.com/templaza" target="_blank">
                        <i class="fa fa-facebook"></i>
                      </a>
                      <a href="https://twitter.com/templazavn" target="_blank">
                        <i class="fa fa-twitter"></i>
                      </a>
                      <a href="#" target="_blank">
                        <i class="fa fa-camera-retro"></i>
                      </a>
                      <a href="https://plus.google.com/+Templaza/" target="_blank">
                        <i class="fa fa-google-plus"></i>
                      </a>
                      <a href="#" target="_blank">
                        <i class="fa fa-linkedin"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="tz_modal_speakers_content">
                  <p>You enjoy the bustle of the city. You feel this is the place you have the possibility to live. You love to socialize, to go out and attend entertainments and programs. You enjoy good food with friends. Your home is the place, where creativity is combined with metal, wood and glass. It is the place of trendy living in a contrasty surrounding.</p>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <strong>
                        <span class="tz_modal_speakers_content_title">TOPICS</span>
                      </strong>
                      <ul class="tz-plazart-list">
                        <li>
                                                    <span class="tz_icon_maniva_list tz_icon_maniva_list_custom">
                                                        <i class="fa fa-check-square-o"></i>
                                                    </span>
                          <p class="tz_list_item_content"> Building a Demand Generation Program that Works with Marketing Automation </p>
                        </li>
                        <li>
                                                    <span class="tz_icon_maniva_list tz_icon_maniva_list_custom">
                                                        <i class="fa fa-check-square-o"></i>
                                                    </span>
                          <p class="tz_list_item_content"> Creating a Process for Visual Storytelling. </p>
                        </li>
                        <li>
                                                    <span class="tz_icon_maniva_list tz_icon_maniva_list_custom">
                                                        <i class="fa fa-check-square-o"></i>
                                                    </span>
                          <p class="tz_list_item_content"> Leveraging the Best Workflow Technology to Enhance Your Content Marketing </p>
                        </li>
                        <li>
                                                    <span class="tz_icon_maniva_list tz_icon_maniva_list_custom">
                                                        <i class="fa fa-check-square-o"></i>
                                                    </span>
                          <p class="tz_list_item_content"> Email Marketing: 10 Things You Are Not Doing (and it’s killing you!) </p>
                        </li>
                      </ul>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <strong>
                        <span class="tz_modal_speakers_content_title">HISTORY</span>
                      </strong>
                      <ul class="tz-plazart-list">
                        <li>
                                                    <span class="tz_icon_maniva_list tz_icon_maniva_list_custom">
                                                        <i class="fa fa-clock-o"></i>
                                                    </span>
                          <p class="tz_list_item_content"> Dec 2013 - Present: CEO at TemPlaza </p>
                        </li>
                        <li>
                                                    <span class="tz_icon_maniva_list tz_icon_maniva_list_custom">
                                                        <i class="fa fa-clock-o"></i>
                                                    </span>
                          <p class="tz_list_item_content"> Dec 2012 - Dec 2013: CEO at Sunland ,. JSC </p>
                        </li>
                        <li>
                                                    <span class="tz_icon_maniva_list tz_icon_maniva_list_custom">
                                                        <i class="fa fa-clock-o"></i>
                                                    </span>
                          <p class="tz_list_item_content"> Dec 2011 - Dec 2012: CTO at Elite JSC </p>
                        </li>
                        <li>
                                                    <span class="tz_icon_maniva_list tz_icon_maniva_list_custom">
                                                        <i class="fa fa-clock-o"></i>
                                                    </span>
                          <p class="tz_list_item_content"> Sep 2008 - Dec 2011: CIO at YOS ,. JSC </p>
                        </li>
                        <li>
                                                    <span class="tz_icon_maniva_list tz_icon_maniva_list_custom">
                                                        <i class="fa fa-clock-o"></i>
                                                    </span>
                          <p class="tz_list_item_content"> Sep 2006 - Sep 2008: Web Developer at Joomlord </p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                                <span class="md-close tz-md-close">
                                    <i class="fa fa-close"></i>
                                    <em> Thanks for watching! </em>
                                </span>
              </div>
            </div>
            <div class="md-overlay"></div>&lt;!&ndash; the overlay element &ndash;&gt;
          </div>
          <div class="speaker_box">
            <div class="tz_meetup_our_team_thumbnail md-trigger tz_md_effect_16" data-modal="modal-16">
              <img src="/events/images/our_team2.jpg" alt="our_team">
              <div class="tz_member_meetup">
                <div class="ds-table">
                  <div class="ds-table-cell">
                    <h4 class="tz_meetup_employment">Business</h4>
                    <h3 class="tz_meetup_name">Jessica Palt</h3>
                    <span class="tz_text_hover_speaker" data-modal="modal-16">view profile</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="tz-md-modal-speakers md-modal md-effect-16 modal-16">
              <div class="md-content container">
                                <span class="md-close">
                                    <i class="fa fa-close"></i>
                                </span>
                <div class="tz_modal_title">
                  <div class="tz_modal_image">
                                        <span class="tz_modal_image_content">
                                            <img src="/events/images/our_team_squar_4.jpg" alt="our_team">
                                        </span>
                  </div>
                  <h4 class="tz_modal_name">Jessica Palt</h4>
                  <span class="tz_modal_employment">Business</span>
                  <div class="tz_modal_speakers_social">
                    <div class="tz_modal_social_speakers">
                      <a href="https://www.facebook.com/templaza" target="_blank">
                        <i class="fa fa-facebook"></i>
                      </a>
                      <a href="https://twitter.com/templazavn" target="_blank">
                        <i class="fa fa-twitter"></i>
                      </a>
                      <a href="#" target="_blank">
                        <i class="fa fa-camera-retro"></i>
                      </a>
                      <a href="https://plus.google.com/+Templaza/" target="_blank">
                        <i class="fa fa-google-plus"></i>
                      </a>
                      <a href="#" target="_blank">
                        <i class="fa fa-linkedin"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="tz_modal_speakers_content">
                  <p>You enjoy the bustle of the city. You feel this is the place you have the possibility to live. You love to socialize, to go out and attend entertainments and programs. You enjoy good food with friends. Your home is the place, where creativity is combined with metal, wood and glass. It is the place of trendy living in a contrasty surrounding.</p>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <strong>
                        <span class="tz_modal_speakers_content_title">TOPICS</span>
                      </strong>
                      <ul class="tz-plazart-list">
                        <li>
                                                    <span class="tz_icon_maniva_list tz_icon_maniva_list_custom">
                                                        <i class="fa fa-check-square-o"></i>
                                                    </span>
                          <p class="tz_list_item_content"> Building a Demand Generation Program that Works with Marketing Automation </p>
                        </li>
                        <li>
                                                    <span class="tz_icon_maniva_list tz_icon_maniva_list_custom">
                                                        <i class="fa fa-check-square-o"></i>
                                                    </span>
                          <p class="tz_list_item_content"> Creating a Process for Visual Storytelling. </p>
                        </li>
                        <li>
                                                    <span class="tz_icon_maniva_list tz_icon_maniva_list_custom">
                                                        <i class="fa fa-check-square-o"></i>
                                                    </span>
                          <p class="tz_list_item_content"> Leveraging the Best Workflow Technology to Enhance Your Content Marketing </p>
                        </li>
                        <li>
                                                    <span class="tz_icon_maniva_list tz_icon_maniva_list_custom">
                                                        <i class="fa fa-check-square-o"></i>
                                                    </span>
                          <p class="tz_list_item_content"> Email Marketing: 10 Things You Are Not Doing (and it’s killing you!) </p>
                        </li>
                      </ul>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <strong>
                        <span class="tz_modal_speakers_content_title">HISTORY</span>
                      </strong>
                      <ul class="tz-plazart-list">
                        <li>
                                                    <span class="tz_icon_maniva_list tz_icon_maniva_list_custom">
                                                        <i class="fa fa-clock-o"></i>
                                                    </span>
                          <p class="tz_list_item_content"> Dec 2013 - Present: CEO at TemPlaza </p>
                        </li>
                        <li>
                                                    <span class="tz_icon_maniva_list tz_icon_maniva_list_custom">
                                                        <i class="fa fa-clock-o"></i>
                                                    </span>
                          <p class="tz_list_item_content"> Dec 2012 - Dec 2013: CEO at Sunland ,. JSC </p>
                        </li>
                        <li>
                                                    <span class="tz_icon_maniva_list tz_icon_maniva_list_custom">
                                                        <i class="fa fa-clock-o"></i>
                                                    </span>
                          <p class="tz_list_item_content"> Dec 2011 - Dec 2012: CTO at Elite JSC </p>
                        </li>
                        <li>
                                                    <span class="tz_icon_maniva_list tz_icon_maniva_list_custom">
                                                        <i class="fa fa-clock-o"></i>
                                                    </span>
                          <p class="tz_list_item_content"> Sep 2008 - Dec 2011: CIO at YOS ,. JSC </p>
                        </li>
                        <li>
                                                    <span class="tz_icon_maniva_list tz_icon_maniva_list_custom">
                                                        <i class="fa fa-clock-o"></i>
                                                    </span>
                          <p class="tz_list_item_content"> Sep 2006 - Sep 2008: Web Developer at Joomlord </p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                                <span class="md-close tz-md-close">
                                    <i class="fa fa-close"></i>
                                    <em> Thanks for watching! </em>
                                </span>
              </div>
            </div>
            <div class="md-overlay"></div>&lt;!&ndash; the overlay element &ndash;&gt;
          </div>
        </div>
      </div>
    </div>
  </section>-->
  <!-- Our Team meetup end-->

  <!-- Tab Event start -->
  <section id="agenda">
    <div class="container">
      <div class="tz_maniva_meetup_title text-center">
        <h3 class="tz_maniva_meetup_title_custom">
          <em>EVENT</em>
          AGENDA
        </h3>
        <div class="tz_image_title_meetup">
          <img src="/events/images/line-black-red.png" alt="line-black">
        </div>
      </div>
      <div class="tz_tab_custom">


        <!-- Tab panes -->
        <div class="tab-content tz_tab_content">
          <div role="tabpanel" class="tab-pane fade in active" id="day_1">
            <div class="tz_event_meetup">
              <div class="tz_box_event_meetup">
                <!--<h3> day 1 agenda </h3>
                <h3 class="tz_event_meetup_subtitle">
                  monday,
                  <em>june 22, 2015 - PRE-SUMMIT WORKSHOPS</em>
                </h3>-->
                <div class="tz_event_meettup_box_content">
                  <div class="tz_event_meetup_content">
                    <div class="tz_meetup_box_detail">
                      <div class="tz_meetup_box_detail_custom">
                        <span class="tz_meetup_start_time"> AUG 15, 2016 </span>
                        <h4> Registration Open </h4>
                        <p class="tz_event_time">
                          <i class="fa fa-clock-o"></i>
                          6:00AM
                        </p>
                        <div class="tz_event_meetup_item_content">
                          <p>Continental breakfast features locally sourced yogurt, granola, fruit and hard boiled eggs.</p>
                        </div>
                      </div>
                    </div>
                    <div class="tz_meetup_box_detail">
                      <div class="tz_meetup_box_detail_custom">
                        <span class="tz_meetup_start_time"> SEP 15, 2016 </span>
                        <h4> Registration Close </h4>
                        <p class="tz_event_time">
                          <i class="fa fa-clock-o"></i>
                          6:00PM
                        </p>
                        <div class="tz_event_meetup_item_content">
                          <p>In this 3-hour long, intensive workshop, best-selling author will help you master the most underutilized marketing tool on the planet.</p>
                          <p>Learn how clever companies trade-in the hopes of a viral sensation for the certainty of sales success.</p>
                          <p>Create your own predictive models based on external forces in the market place. Learn how to manipulate the demand for the products and services you sell.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="tz_custom_height_empty">
        <span class="vc_empty_space_inner"></span>
      </div>
      <div class="tz_meetup_btn text-left tz_custom_btn_padding">
        <a class="tz_meetup_default" target="_blank" href="#">
          PDF BROCHURE
          <i class="fa fa-download"></i>
        </a>
      </div>
    </div>
  </section>
  <!-- Tab Event end -->

  <!-- Twitter start -->
  <!--<section id="tz_twitter" class="parallax parallax-bk2">
    <div class="tzTwitter-slider-box">
      <div class="tzTwitter-slider owl-carousel owl-theme">
        <div class="tzTwitter-item">
          <div class="tzTwitter-icon">
            <i class="fa fa-twitter"></i>
          </div>
                    <span class="tweet_text">
                        At the end of 2014 the total paid out to Envato's global community reached $224 million! <a href="#">http://buff.ly/1AWD4Dx</a>
                    </span>
          <span class="tz_tweet_meetup_name">&#64;templaza</span>
          <span class="tweet_time">about 2 hours ago</span>
        </div>
        <div class="tzTwitter-item">
          <div class="tzTwitter-icon">
            <i class="fa fa-twitter"></i>
          </div>
                    <span class="tweet_text">
                        At the end of 2014 the total paid out to Envato's global community reached $224 million! <a href="#">http://buff.ly/1AWD4Dx</a>
                    </span>
          <span class="tz_tweet_meetup_name">&#64;templaza</span>
          <span class="tweet_time">about 2 hours ago</span>
        </div>
        <div class="tzTwitter-item">
          <div class="tzTwitter-icon">
            <i class="fa fa-twitter"></i>
          </div>
                    <span class="tweet_text">
                        At the end of 2014 the total paid out to Envato's global community reached $224 million! <a href="#">http://buff.ly/1AWD4Dx</a>
                    </span>
          <span class="tz_tweet_meetup_name">&#64;templaza</span>
          <span class="tweet_time">about 2 hours ago</span>
        </div>
      </div>
    </div>
  </section>-->
  <!-- Twitter end -->

  <!-- Gallery  start -->
 <!-- <section id="gallery">
    <div class="tz_maniva_meetup_title text-center">
      <h3 class="tz_meetup_title_raleway tz_title_meetup_medium"> OUR GALLERY </h3>
      <div class="tz_image_title_meetup">
        <img src="/events/images/line-white-red.png" alt="line_red">
      </div>
      <div class="tz_meetup_title_content">
        <p>
          <span>The Muscular Dystrophy Association and University of Florida Child Health Research Institute invite</span>
        </p>
        <p>
          <span>you to attend the Becker Muscular Dystrophy Conference. Check our</span>
                    <span>
                        <a target="_blank" href="https://www.facebook.com/templaza">Fanpage.</a>
                    </span>
        </p>
      </div>
    </div>
    <div id="tz_plusg_gallery">
      <div id="plusgallery1" class="plusgallery"
           data-userid="templazaplusgallery"
           data-album-id="1047364345296376"
           data-limit="12"
           data-access-token="150849908413827|uYDHoXrvPZOLkQ-zRz_XoYdEeYM"
           data-type="facebook">

      </div>
    </div>
  </section>-->
  <!-- Gallery  end -->

  <!-- Box text title 2  start -->
  <!--<section id="box_text_title_2">
    <div class="container">
      <div class="tz_meetup_btn text-center ">
        <h4 class="tz_meetup_title_btn"> MDA’s Quickest Way To Make You More Successful! </h4>
        <a class="tz_meetup_btn_white" target="_blank" href="#"> LEARN MORE </a>
      </div>
    </div>
    <div class="tzRow_ArrowType4"></div>
  </section>-->
  <!-- Box text title 2 end -->

  <!-- Speaker client start -->
  <section id="speaker_client">
    <div class="container">
      <div class="tz_maniva_meetup_title text-center">
        <h3 class="tz_maniva_meetup_title_custom">
          <em>EVENT SPONSORS</em>
          SPECIAL THANKS
        </h3>
        <div class="tz_image_title_meetup">
          <img src="/events/images/line-white-red.png" alt="line_red">
        </div>
      </div>
      <div class="vc_empty_space vc_empty_space_custom_3">
        <span class="vc_empty_space_inner"></span>
      </div>
      <div class="tz-partner">
        <ul class="partner-slider owl-carousel owl-theme">
          <li>
            <img src="/events/images/logo-meetup-1.png" alt="logo_client">
          </li>
          <li>
            <img src="/events/images/logo-meetup-2.png" alt="logo_client">
          </li>
          <li>
            <img src="/events/images/logo-meetup-3.png" alt="logo_client">
          </li>
          <li>
            <img src="/events/images/logo-meetup-4.png" alt="logo_client">
          </li>
          <li>
            <img src="/events/images/logo-meetup-5.png" alt="logo_client">
          </li>
          <li>
            <img src="/events/images/logo-meetup-6.png" alt="logo_client">
          </li>
          <li>
            <img src="/events/images/logo-meetup-7.png" alt="logo_client">
          </li>
          <li>
            <img src="/events/images/logo-meetup-8.png" alt="logo_client">
          </li>
          <li>
            <img src="/events/images/logo-meetup-9.png" alt="logo_client">
          </li>
          <li>
            <img src="/events/images/logo-meetup-10.png" alt="logo_client">
          </li>
        </ul>
      </div>
      <div class="vc_empty_space vc_empty_space_custom">
        <span class="vc_empty_space_inner"></span>
      </div>
      <div class="tz-partner">
        <ul class="partner-slider owl-carousel owl-theme">
          <li>
            <img src="/events/images/logo-meetup-6.png" alt="logo_client">
          </li>
          <li>
            <img src="/events/images/logo-meetup-7.png" alt="logo_client">
          </li>
          <li>
            <img src="/events/images/logo-meetup-8.png" alt="logo_client">
          </li>
          <li>
            <img src="/events/images/logo-meetup-9.png" alt="logo_client">
          </li>
          <li>
            <img src="/events/images/logo-meetup-10.png" alt="logo_client">
          </li>
          <li>
            <img src="/events/images/logo-meetup-1.png" alt="logo_client">
          </li>
          <li>
            <img src="/events/images/logo-meetup-2.png" alt="logo_client">
          </li>
          <li>
            <img src="/events/images/logo-meetup-3.png" alt="logo_client">
          </li>
          <li>
            <img src="/events/images/logo-meetup-4.png" alt="logo_client">
          </li>
          <li>
            <img src="/events/images/logo-meetup-5.png" alt="logo_client">
          </li>
        </ul>
      </div>
      <div class="vc_empty_space vc_empty_space_custom_2">
        <span class="vc_empty_space_inner"></span>
      </div>
      <div class="tz_meetup_btn text-center ">
        <a class="tz_meetup_bnt_orange_bk" target="_blank" href="http://wordpress.templaza.net/wp-maniva/meetup/our-speakers-sidebar"> BECOME A SPONSOR </a>
      </div>
    </div>
  </section>
  <!-- Speaker client end -->

  <!-- FAQ client start -->
  <section id="faq">
    <div class="container">
      <div class="tz_maniva_meetup_title text-center">
        <h3 class="tz_meetup_title_raleway tz_title_meetup_semi_bold">
          <em>Frequently Asked questions</em>
        </h3>
        <div class="tz_image_title_meetup">
          <img src="/events/images/line-black-red.png" alt="line">
        </div>
      </div>
      <div class="vc_empty_space vc_empty_space_4">
        <span class="vc_empty_space_inner"></span>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="tz_meetup_ask_question">
            <div class="tz_meetup_question">
                            <span class="tz_icon_meetup_question">
                                <i class="fa fa-question "></i>
                            </span>
              <h4>How do I participate in the contest ? </h4>
            </div>
            <div class="tz_meetup_ask">
              <p>The contest is open to all the students of schools, colleges and universities in India. Participation in the contest is through entries submitted on this website. A participant has to register oneself in the Register Now section to upload entries. Instructions to upload entries will be sent to the participant's email address once after registration.</p>
            </div>
          </div>
          <div class="tz_meetup_ask_question">
            <div class="tz_meetup_question">
                            <span class="tz_icon_meetup_question">
                                <i class="fa fa-question "></i>
                            </span>
              <h4>I’d like to participate in more than one categories.</h4>
            </div>
            <div class="tz_meetup_ask">
              <p>You can participate in one or all of the four categories based on your interest and skill set. However, only one submission per each category is allowed by a participant.</p>
            </div>
          </div>
          <div class="tz_meetup_ask_question">
            <div class="tz_meetup_question">
                            <span class="tz_icon_meetup_question">
                                <i class="fa fa-question "></i>
                            </span>
              <h4>What is the timeline of the contest ?</h4>
            </div>
            <div class="tz_meetup_ask">
              <p>Registration to the contest opens on… and closes on… After the closure of registration, participants cannot upload or modify entries. The date and time of announcement of results will therefore be at the sole discretion of Helpalife.in.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="tz_meetup_ask_question">
            <div class="tz_meetup_question">
                            <span class="tz_icon_meetup_question">
                                <i class="fa fa-question "></i>
                            </span>
              <h4>I’m a student of Open University. Am I eligible to participate ?</h4>
            </div>
            <div class="tz_meetup_ask">
              <p>Yes. Contact or Study Center authorities associated with Open Universities must approve a student’s participation in the contest. A participant must contact his Study Center authorities in order to claim one’s prize or goodies.</p>
            </div>
          </div>
          <div class="tz_meetup_ask_question">
            <div class="tz_meetup_question">
                            <span class="tz_icon_meetup_question">
                                <i class="fa fa-question "></i>
                            </span>
              <h4>Does the entry to the contest involve a registration or hidden fee ?</h4>
            </div>
            <div class="tz_meetup_ask">
              <p>No. The registration to the contest is completely free. However, all other expenses involved in the making of contents will be borne by the participants and will not be reimbursed by Helpalife.in or its co-sponsors.</p>
            </div>
          </div>
          <div class="tz_meetup_ask_question">
            <div class="tz_meetup_question">
                            <span class="tz_icon_meetup_question">
                                <i class="fa fa-question "></i>
                            </span>
              <h4> How do I claim my prize ?</h4>
            </div>
            <div class="tz_meetup_ask">
              <p>Winners will have to contact their school, college, study center or university authorities to claim their prizes. Helpalife.in will by no means involve in any form of dispute.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="tz_meetup_ask_question">
            <div class="tz_meetup_question">
                            <span class="tz_icon_meetup_question">
                                <i class="fa fa-question "></i>
                            </span>
              <h4>What are the different entry categories in the contest ?</h4>
            </div>
            <div class="tz_meetup_ask">
              <p>The contest includes four categories - Article Writing, Poster Design, Photography & Short Film. Contest rules and entry specifications will be shared with the participants after registration.</p>
            </div>
          </div>
          <div class="tz_meetup_ask_question">
            <div class="tz_meetup_question">
                            <span class="tz_icon_meetup_question">
                                <i class="fa fa-question "></i>
                            </span>
              <h4>What criteria qualifies an entry ?</h4>
            </div>
            <div class="tz_meetup_ask">
              <p>The entries submitted by participants for contest have to be original in creation. Plagiarism in any form will not be entertained and can result in disqualification of the entries. Further instructions on qualifying entries will be shared with the participants after registration.</p>
            </div>
          </div>
          <div class="tz_meetup_ask_question">
            <div class="tz_meetup_question">
                            <span class="tz_icon_meetup_question">
                                <i class="fa fa-question "></i>
                            </span>
              <h4> When and how the winners of the contest will be announced ? </h4>
            </div>
            <div class="tz_meetup_ask">
              <p>
                The winners and runners-up will be announced on this website as well as on Helpalife.in portal. The same will also be shared with the respective school and college authorities by Helpalife.in.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- FAQ client end -->

  <!-- Register start -->
  <section id="register" class="parallax parallax-bk2 vc_row">
    <div class="row vc_row-flex">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 custom_col_pading_right vc_column_container">
        <div class="tz_padding_register vc_column-inner">
          <div class="tz_register_meetup">
            <div class="tz_register_meetup_pricing">
              <div class="tz_register_meetup_pricing_item" data-price-pricing="380">
                <div class="tz_register_meetup_pricing_item_container">
                  <h3>
                    Only Conference
                  </h3>
                  <p>This is a conference which is celebrated within University. All members belong university can participate in this conference for discussing</p>
                </div>
                <div class="tz_register_meetup_pricing_item_price">
                  <div class="ds-table">
                    <div class="ds-table-cell">
                      <h3>
                        $380
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tz_register_meetup_pricing_item" data-price-pricing="475">
                <div class="tz_register_meetup_pricing_item_container">
                  <h3> Only Workshops </h3>
                  <p>International students and students undertaking this course as part of a postgraduate fee paying program must refer to the relevant program home page to determine the cost for undertaking this course.</p>
                </div>
                <div class="tz_register_meetup_pricing_item_price ">
                  <div class="ds-table">
                    <div class="ds-table-cell">
                      <h3> $475 </h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tz_register_meetup_pricing_item" data-price-pricing="645">
                <div class="tz_register_meetup_pricing_item_container">
                  <h3> Conference + Workshops </h3>
                  <p>Through this introductory creative-critical approach to textual study based on the writing and re-writing of texts, students will learn theoretical perspectives on literary study.</p>
                </div>
                <div class="tz_register_meetup_pricing_item_price ">
                  <div class="ds-table">
                    <div class="ds-table-cell">
                      <h3> $645 </h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tz_register_meetup_pricing_item" data-price-pricing="465">
                <div class="tz_register_meetup_pricing_item_container">
                  <h3> Conference + Buffet </h3>
                  <p>Joining to meet up to have a chance to raise your ideas directly on Conference. Especially, you can enjoy Asian buffet after conference.</p>
                </div>
                <div class="tz_register_meetup_pricing_item_price ">
                  <div class="ds-table">
                    <div class="ds-table-cell">
                      <h3> $465 </h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tz_register_meetup_pricing_item" data-price-pricing="995">
                <div class="tz_register_meetup_pricing_item_container">
                  <h3> Full Package (No Hidden Fees) </h3>
                  <p>Don’t hesitate anymore! Let’s come and try to register with us. You do not worry anything, we give you some demo. You can register after demo</p>
                </div>
                <div class="tz_register_meetup_pricing_item_price ">
                  <div class="ds-table">
                    <div class="ds-table-cell">
                      <h3> $995 </h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 custom_col_pading_left vc_column_container">
        <div class="tz_form_register vc_column-inner tz_width_column">
          <div class="tz_form_register_box tz_custom_width">
            <div class="tz_maniva_meetup_title text-left">
              <h3 class="tz_maniva_meetup_title_custom tz_maniva_meetup_title_custom_white">
                <em>register</em>
                now
              </h3>
              <div class="tz_image_title_meetup">
                <img src="/events/images/line-text1.jpg" alt="line">
              </div>
              <div class="tz_meetup_title_content">
                <p>
                  <span>The Conference can help you meet some special person. In addition,</span>
                </p>
                <p>
                  <span>you can open your knowledge and contribute your ideas in this conference.</span>
                </p>
                <p>
                  <span>You will also have a chance to enjoy Buffet. Now, Let’s Register now to get new experience!</span>
                </p>
              </div>
            </div>
            <div class="tz_meetup_form">
              <p>
                <label>Full Name or company name *</label>
                                <span>
                                    <input id="name_paypal" type="text" placeholder="FULL NAME *" aria-invalid="false" aria-required="true" value="" name="text-610">
                                </span>
              </p>
              <p>
                <label>email address *</label>
                                <span class="wpcf7-form-control-wrap email-78">
                                    <input type="email" placeholder="info@templaza.com" aria-invalid="false" aria-required="true" value="" name="email-78">
                                </span>
              </p>
              <p>
                <label>phone number</label>
                                <span class="wpcf7-form-control-wrap tel-633">
                                    <input type="tel" placeholder="+45 8 234 0209" aria-invalid="false" size="40" value="" name="tel-633">
                                </span>
              </p>
              <p class="tz_meetup_quantity_paypal">
                <label>quantity*</label>
                <sub class="tz_meetup_quantity_paypal_input">
                                    <span class="wpcf7-form-control-wrap number-850">
                                        <input id="number_item" type="number" placeholder="1" aria-invalid="false" max="1000" min="1" value="" name="number-850">
                                    </span>
                </sub>
              </p>
              <p>
                <label>address street</label>
                                <span class="wpcf7-form-control-wrap text-502">
                                    <input type="text" placeholder="Address Street" aria-invalid="false" value="" name="text-502">
                                </span>
              </p>
              <p class="tz_meetup_btn_paypal">
                <input class="tz_paypal_submit" type="submit" value="pay and register">
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Register end -->

  <!-- Recent posts start -->
  <!--<section id="recent_post">
    <div class="container">
      <div class="tz_maniva_meetup_title text-center">
        <h3 class="tz_meetup_title_raleway tz_title_meetup_semi_bold" style="color:#242732"> recent posts </h3>
        <div class="tz_image_title_meetup">
          <img alt="line-black-red" src="/events/images/line-black-red.png">
        </div>
      </div>
      <div class="vc_empty_space vc_empty_space_custom_3">
        <span class="vc_empty_space_inner"></span>
      </div>
      <div class="tz_recent_blog_meetup">
        <button class="tz_recent_blog_pev_meetup">
          <i class="fa fa-angle-left"></i>
        </button>
        <button class="tz_recent_blog_next_meetup">
          <i class="fa fa-angle-right"></i>
        </button>
        <div class="tz_meetup_slider_blog owl-carousel owl-theme">
          <div class="tz_recent_blog_meetup_content">
            <div class="tz_image_recent_blog_meetup">
              <div class="tz_meetup_post_img">
                <img src="/events/images/Meeting-2.jpg" alt="blog">
                <div class="tz_meetup_view_link">
                  <div class="ds-table">
                    <div class="ds-table-cell">
                                            <span class="tz_view_img_blog_type1">
                                                <a data-rel="latestPhoto[worksGallery]" href="/events/images/Meeting-2.jpg">
                                                    <i class="fa fa-search"></i>
                                                </a>
                                            </span>
                                            <span class="tz_meetup_link_blog">
                                                <a href="detail-blog.html">
                                                    <i class="fa fa-external-link"></i>
                                                </a>
                                            </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tz_recent_blog_meetup_date">
                                <span class="tz_month_latest">
                                    Sep
                                </span>
                                <span class="tz_date_latest">
                                    22nd
                                </span>
              </div>
            </div>
            <div class="tz_recent_blog_meetup_detail">
              <h4>
                <a href="detail-blog.html">
                  The Role of Technology in Education
                </a>
              </h4>
              <div class="tz_meetup_description_latest">
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Contrary to popular belief.</p>
              </div>
                            <span class="tz_meetup_infomation">
                                <a href="#"> by Mary Doe </a>
                                <small>
                                    <i class="fa fa-calendar"></i>
                                    22 Sep, 2015
                                </small>
                                <small>
                                    <i class="fa fa-comment"></i>
                                    0
                                </small>
                            </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>-->
  <!-- Recent posts end -->

  <!-- Contact start -->
  <section id="contact" class="vc_row parallax parallax-bk2">
    <div class="row vc_row-flex">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 custom_col_pading_right vc_column_container">
        <div class="vc_column-inner">
          <div class="tzContact">
            <div class="text-center">
              <ul class="TzContactInfo">
                <li class="tzContactAbout">
                  8.MDA London Conference
                  <br>
                  22-26 JUNE 2015
                  <br>
                  Monday - Friday 8:00 AM - 05:00 PM
                </li>
                <li class="tz_meetup_contact_conference">
                  <h4 class="tzContactTime"> Conference Place Address </h4>
                  <p>
                    Diamond Hotel, Emerand Street,
                    <br>
                    23500 London, England
                  </p>
                </li>
                <li class="tzContactEmail">
                  <h4> Send a Email </h4>
                  <p>
                    <a href="mailto:support@templaza.com"> support@templaza.com </a>
                  </p>
                </li>
                <li class="tzContactAddress">
                  <h4> Visit Us At Our Office </h4>
                  <p>
                    Maniva Co, 273 Edgar Buildings, George St,
                    <br>
                    London, England
                  </p>
                </li>
                <li class="tzContactOurWeb">
                  <h4> Take a Look Our Website </h4>
                  <p>
                    <a href="http://www.templaza.com/" target="_blank"> http://www.templaza.com/ </a>
                  </p>
                </li>
                <li class="tzContactPhone"> +44 40 8873432 - +44 40 8873433 </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 custom_col_pading_left vc_column_container">
        <div class="vc_column-inner">
          <div class="tz_map_meetup tz_equal_height_gmap">
            <div class="tz_map_meetup_bk"></div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d738.2966273219382!2d-0.12779833271992933!3d51.507272522001976!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x4555d4c0fddf1a02!2sCharles+I+Statue!5e0!3m2!1svi!2s!4v1446091177492" width="800" height="600" allowfullscreen></iframe>
            <div class="tz_meet_gmap_contact">
              <div class="ds-table">
                <div class="ds-table-cell">
                  <a href="http://wordpress.templaza.net/wp-maniva/meetup/contact/" target=" _blank"> Contact us </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact end -->

  <!-- footer start -->
  <footer class="tz-footer tz-footer-type1">
    <div class="tz-backtotop">
      <img src="/events/images/back_top_meetup.png" alt="back_top">
    </div>
    <aside class="MultiColorSubscribeWidget widget">
      <h3 class="module-title">
        <span>keep me updated..!</span>
      </h3>
      <div class="multicolor-subscribe">
        <div class="max-email-box">
          <form class="multicolor-subscribe-form">
            <input class="email commons mcolor-subbox" type="email" placeholder="Your Email Address..." name="email">
            <input class="mcolor-button subscribe commons" type="submit" value="SUBSCRIBE" name="commit">
          </form>
        </div>
      </div>
    </aside>
    <aside class="widget tzsocial">
      <div class="tzSocial_bg">
        <div class="tzSocial_bg_meetup">
          <span class="meetup_line_left"></span>
          <a class="tzSocial-no" href="https://www.facebook.com/templaza">
            <i class="fa fa-facebook"></i>
          </a>
          <a class="tzSocial-no" href="https://twitter.com/templazavn">
            <i class="fa fa fa-twitter"></i>
          </a>
          <a class="tzSocial-no" href="#">
            <i class="fa fa-youtube"></i>
          </a>
          <a class="tzSocial-no" href="#">
            <i class="fa fa-whatsapp"></i>
          </a>
          <a class="tzSocial-no" href="#">
            <i class="fa fa-skype"></i>
          </a>
          <span class="meetup_line_right"></span>
        </div>
      </div>
    </aside>
    <div class="tzcopyright">
      <p>
        Copyright &copy; 2015
        <a target="_blank" href="http://www.templaza.com/">Templaza </a>
        ALL RIGHTS RESERVED.
      </p>
    </div>
  </footer>
  <!-- footer end -->

</div>

<div id="easy-opener-section"><div class="easy-opener-bg"></div><div class="easy-opener-content"><a class="easy-opener-close" href="javascript: "></a><div class="video-content"></div> </div></div>