<% provide(:title, "http://helpalife.in Blood Requirements posted by users" ) %>
<%set_meta_tags :og => {
        :title    => "http://helpalife.in Blood Requirements posted by users",
        :type     => 'Non profit Blood donors organization',
        :url      => needs_url,
        :image    => image_url('logo.png'),
        :description => "Post your blood requirements or register and become a donor here, we will provide ways to contact people
        and social sharing ,email notifications and instant SMS Notifications"
} %>
<div class="container" >
  <% if @needs.any? %>
      <div class='row'>
        <div style="text-align: center">
          <h3 class='headings'>Recent blood requirements</h3>
        </div>
      </div>

      <%= render 'home/recent_needs' %>

  <% else  %>
    <div>There is no requirements posted yet</div>
  <% end %>

</div>
<%= will_paginate @needs%>

