<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hi!</h1>
<h2> A new post was created in the blog!</h2>
<h2><a href="#{@url}"><%= @post.title %></a></h2>
<p><%= @post.text %></p>
<br>
<br>
<h3>Please dont forgent see the post!</h3>
<h3>Thanks for suscribe!</h3>
<p>
  Help a Life Team.
</p>
</body>
</html>
