<style type="text/css">
    body {
        background-color: white;
        font-family: 'PTSerifRegular','Times','serif'; color: #0a647b;
    }
</style>
<% provide(:title, "About helpalife.in" ) %>
<br>
<br>

<div class="container" >
  <h1 class="main_heading">About us</h1>
  <div class="row sub_heading">

    <div class="col-md-4">
      <%= image_tag "infra_structure.png" %>
    </div>
    <div class="col-md-8">
      <b> Infrastructure</b>
      <p>
        We are here to provide system through which people in need, then can find
        donors and notify them as quick as possible via SMS notifications and emails.
      </p>
    </div>
  </div>
  <hr class="blue_hr"/>
  <div class="row sub_heading">

    <div class="col-md-8">
      <b> Inspiration</b>
      <p>
        Do you feel you don’t have much to offer? You have the most precious resource of all: the ability to save a
        life by donating blood! Help share this invaluable gift with someone in need.
      </p>
    </div>
    <div class="col-md-4">
      <%= image_tag "save_tree-256.png" ,style: "height: 256px;" %>
    </div>
  </div>
  <hr class="blue_hr"/>
  <div class="row sub_heading">
    <div class="col-md-4">
      <%= image_tag "history.png" %>
    </div>
    <div class="col-md-8">
      <b> History</b>
      <p>
        Helpalife.in non profit organization is started its service 2014 january.
        To avoid the difficulties to find donors.
      </p>
    </div>

  </div>

  <hr class="blue_hr"/>
  <div class="row sub_heading">

    <div class="col-md-8">
      <b> Our motto</b>
      <p>
        LOVE ALL. DO GOOD. LIVE WELL. HELP A LIFE
      </p>
    </div>
    <div class="col-md-4">
      <%= image_tag "motto.jpg" ,style: "height: 256px;" %>
    </div>
  </div>

</div>