<style type="text/css">
    body {
        background-color: white;
        font-family: 'PTSerifRegular','Times','serif'; color: #0a647b;
    }
</style>
<% provide(:title, "Vision & Mission of helpalife.in" ) %>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2 class="about_heading">Vision</h2>
      <br>
      <h4> " Every person has the opportunity to help the world and participate in and
        contribute to all aspects of life" </h4>
      <br>
      <h2 class="about_heading">Mission</h2>
      <br>
      <h4> "To provide a global platform where anyone can easily communicate with donors" </h4>
      <br>
    </div>
  </div>
</div>