<% provide(:title, "Biggest blood donor's community") %>
<%set_meta_tags :og => {
        :title    => "Blood donors | social integrated",
        :type     => 'Non profit Blood donors organization',
        :url      => root_url,
        :image    => image_url('logo.png'),
        :description => "Post your blood requirements or register and become a donor here, we will provide ways to contact people
        and social sharing ,email notifications and instant SMS Notifications"
} %>

<div class="blackbg container">
  <br>
  <div> <b> Share this site and help donors to find this service </b> </div>
  <br>
  <br>
  <br>

  <div class="row">

    <table class="container span8 offset2"  >
      <tr><td>

        <a href="https://www.facebook.com/sharer/sharer.php?u=<%= root_url %>" onclick="javascript:window.open(this.href,
                '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=550,width=500');return false;" style="margin-left: 5px;" >
          <button class='zocial facebook big' style="margin-right: 5px;" >Share via facebook</button></a>
      </td>

        <td>
          <a href="http://www.linkedin.com/shareArticle?mini=true&url=<%= root_url %> &title=Share this site and help donors to find this service "onclick="javascript:window.open(this.href,
                  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=550,width=500');return false;"  style="margin-left: 5px;"><button class='zocial linkedin big'>Share via linkedin</button></a>
        </td>
        <td>
          <a href="http://plus.google.com/share?url=<%= root_url %>" onclick="javascript:window.open(this.href,
                  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=550,width=500');return false;" style="margin-left: 5px;"><button class='zocial googleplus big'>Share via Google plus</button></a>
        </td><td>
        <a href="http://twitter.com/intent/tweet?&url=<%= root_url %> &text= Share this site and help donors to find this service " onclick="javascript:window.open(this.href,
                '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=550,width=500');return false;"  style="margin-left: 5px;"><button class='zocial twitter big'>Share via twitter</button></a>
      </td></tr></table>

  </div>

</div>
