<% provide(:title, "Biggest blood donor's community") %>
<div class="blackbg container">
  <br>
  <div> <b> Share this site and help donors to find this service </b> </div>
  <br>



        <a href="https://www.facebook.com/sharer/sharer.php?u=<%= root_url %>" onclick="javascript:window.open(this.href,
                '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=550,width=500');return false;" style="margin-left: 5px;" >
          <button class='zocial facebook ' style="margin-right: 5px;min-width: 210px;margin-bottom: 5px;" >Share via facebook</button></a>
          <a href="http://www.linkedin.com/shareArticle?mini=true&url=<%= root_url %> &title=Share this site and help donors to find this service "onclick="javascript:window.open(this.href,
                  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=550,width=500');return false;"  style="margin-left: 5px;"><button style="min-width: 210px;margin-bottom: 5px;" class='zocial linkedin '>Share via linkedin</button></a>
          <a href="http://plus.google.com/share?url=<%= root_url %>" onclick="javascript:window.open(this.href,
                  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=550,width=500');return false;" style="margin-left: 5px;"><button style="min-width: 210px;margin-bottom: 5px;" class='zocial googleplus '>Share via Google </button></a>

        <a href="http://twitter.com/intent/tweet?&url=<%= root_url %> &text= Share this site and help donors to find this service " onclick="javascript:window.open(this.href,
                '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=550,width=500');return false;"  style="margin-left: 5px;"><button style="min-width: 210px;margin-bottom: 5px;" class='zocial twitter '>Share via twitter</button></a>


</div>
