<div id="login" class="modal hide fade"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Register / Login </h3>
  </div>
  <div class="modal-body" style="text-align: center;" >

    <a href="/auth/facebook/"> <button class='zocial facebook'>with Facebook</button></a>
    <a href="/auth/google_oauth2/"> <button class='zocial google'>with Google</button></a>
    <a href="/auth/linkedin/"> <button class='zocial linkedin'>with LinkedIn</button></a>

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true" >Cancel</button>
  </div>
</div>


<script>
    $("#login").modal('show');
    $(".close").click(function() {
        history.back();
    });
    $(".btn").click(function() {
        history.back();
    });

</script>