// Place all the styles related to the blog/post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
.post-content{
  .post-title {
    h1{
      display: inline-block;
    }
  }
  .post-body {
    margin: 20px 0;
  }
  hr{
    width: 50%;
    background: #aaa;
    height: 1px;
    border: 0;
  }
  small{
    color: #aaa;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
  }
}

.post-form{
  div.input, input{
    width: 100%;
  }
  textarea{
    height: 400px;
  }
  .button-primary{
    width: 152px;
  }
}

.clip_button {
  margin-left: 10px;
  background: #eee;
  border: none;
  color: #888;
  font-size: 11px;
  border-radius: 3px;
  padding: 4px 8px;
}

.view-count {
  font-size: large;
}
