omniauth:
  facebook_key: ""
  facebook_secret: ""
  linkedin_key: ""
  linkedin_secret: ""
  google_oauth2_key: ""
  google_oauth2_secret: ""

email:
  user_name: ""
  password: ""
  domain: ""
  address: ""
  port:

domain_name: "helpalife.in"
twitter_url: ""
youtube_url: ""
facebook_url: ""
google_plus_url:
linked_in_url: ""
sms_gateway: ""
#sms_gateway_api: ""
get_prospect_api_key: ""
get_prospect_url: ""

sms_gateway_url: ""
sms_gateway_api: ""
senderid: ""
channel: 2
dcs: 0
flashsms: 0
api_openai_api_key:
sign_up_template_id :
specific_bloodgroup_donor: 