// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-box{
  //cream background-color: #fcf3db;
    background-image: asset-data-url("bg-triangle.png");
  //box-shadow: inset 0 3px 10px 0 rgba(0, 0, 0, 0.25);
}

.blackbg{
  background-image: asset-data-url("bg-semi-dark.png");
  height: auto;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 300px; text-align: center;
}

.doner-search{
  background-image: asset-data-url("center-bg-hieght.gif");
  height: auto;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  color: #ffffff;
}

body{
  background-color: #fcf3db;
}

#need_blood_group,#need_state_id,#need_district_id {
  margin-top: -10px;
  width: 206px;
}


.sign_up_top{
  width:636px;
  border-radius:5px;
  border:1px solid #ddd;
  box-shadow: 1px 1px 2px 1px;
  padding: 10px 70px 10px 70px;
  background-color: #ffffff;
  margin-bottom: 20px;
}

.above_from_for{
  position:relative;
  padding:15px
}

.seperator{
  float:left;
  background-repeat:no-repeat;
  background-image:url('../assets/verticle_line.jpg');
  background-position: center;
  background-size: 2px 100%;
  margin-top: 105px;
  width: 91px;
}
