// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-box{
  //cream background-color: #fcf3db;
    background-image: asset-data-url("bg-triangle.png");
  //box-shadow: inset 0 3px 10px 0 rgba(0, 0, 0, 0.25);
}


.doner-search{
  background-image: asset-data-url("center-bg-hieght.gif");
  height: auto;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  color: #ffffff;
}

body{
  background-color: #fcf3db;
}

#need_blood_group,#need_state_id,#need_district_id {
  margin-top: -10px;
  width: 206px;
}
