
<div id="footer"  class="color-9">
        <p>Follow us</p>
  <div class="row" style="color: white;font-weight: bold;margin-left: 143px;" >
    <div class="span6 offset3" >
  <div class="span" >
    <a href="https://twitter.com/indiandoners" target="_blank" title="Twitter">
      <button class='zocial icon twitter'></button>
    </a><br>
    Twitter
  </div>
  <div class="span">
    <a href="https://www.youtube.com/indiandoners" target="_blank"  title="Youtube">
      <button class='zocial icon youtube'></button>
    </a><br>
    Youtube
  </div>
  <div class="span">
    <a href="https://www.facebook.com/indiandoners" target="_blank"  title="Facebook">
    <button class='zocial icon  facebook'></button>
    </a> <br>
    Facebook
  </div>
  <div class="span">
    <a href="https://plus.google.com/indiandoners"  target="_blank" title="Google Plus">
      <button class='zocial icon googleplus'></button>
    </a> <br>
    Google Plus
</div>
  <div class="span">
    <a href="http://www.linkedin.com/groups/indiandoners"  target="_blank" title="LinkedIn">
      <button class='zocial icon linkedin'></button>
    </a> <br>
    LinkedIn
  </div>
    </div>
  </div>
        <p class="copyright">
          © 2013 Indian Blood Donors.
        </p>
  </div>

