      <section class="color-9" style="text-align: center;" >
        <nav class="cl-effect-9" id="cl-effect-9">
          <a href="#login" data-toggle="modal"><span>Register / Login</span><span>Join with us and save Life</span></a>
          <a href="#cl-effect-9"><span>Post a Need</span><span>Reach out People</span></a>
          <%= link_to image_tag('logo.png',:class =>"img img-circle",:style => "width: 75px;"),root_path %>
          <a href="#cl-effect-9"><span>Find Doners</span><span>Search doners</span></a>
          <a href="#cl-effect-9"><span>Refer a friend</span><span>Let refer a friend</span></a>
        </nav>
      </section>
<%= render 'layouts/login' %>